mixin template(lang)
  html
    - const fr = lang === 'fr'
    head
      title=title
      meta(charset='utf-8')
      meta(name='description', content=description)
      meta(property='og:title', content=title)
      meta(property='og:image', content='/screenshot.png')
      meta(property='og:description', content=description)
      meta(http-equiv='x-ua-compatible', content='ie=edge')
      meta(name='viewport' content='width=device-width, user-scalable=no')
      meta(name='theme-color', content='#7E1421')
      link(rel='stylesheet', href='/stylesheet.css')
      script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
      script(type='text/javascript', src='/script.js')
      script(type='text/javascript').
        lang = '#{lang}';
    body
      include ./pages/main
      include ./pages/presentation
      include ./pages/activites
      include ./pages/partenaires
      include ./pages/nos-ambitions
      include ./pages/contact
      include ./pages/paiement
      include ./pages/legales
      include ./overlays/mobile
      include ./menu